.card-body{
    background-color: black;
    color: white;
}


.first__section{
    @include standard;
    padding: 30px;
    background-color: white;
    align-items: center;
}

.top__div--agenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}   
    
.title{
    background-color: $primary-color;
    color: black;
    
    
    position: absolute;
    font-size: larger;
    width: inherit;
    text-align: center;
    min-width: 100%;
}

.gif__crew{
    @include standard;
    align-items: center;
    width: 100vw;
    height: 200px;
    border-radius: 100px;
    max-width: 800px;
}
/* Fin first section */

/* Incio Second Section */
.second__section{
    display: flex;
    justify-content: space-around;
    /* border: solid; */
    background-color: black;
    border-radius: 30px;
}


.img__agenda{
    height: 430px;
}
/* fin 2da section */

/* Inicio 3ra section */

.title__section{
    @include standard;
    margin: 100px;
   @extend .card-body;
    
    border-radius: 30px;
}

h2{
    @include standard;
}

.third__section{
    @include standard ($content: space-around);
    
    margin-top: 150px;
    background-color: black;
    border-radius: 50px;
}

.img__carousel{
    height: 500px;
    width: 400px
}

.slide{
    border: solid white;
    width: 300px;
}